* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit;
  border: none !important;
  outline: none !important;
}

button {
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: end;
}

.ai-start {
  align-items: start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.jc-start {
  justify-content: start;
}

.cursor {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100vh;
}

.relative {
  position: relative;
}

.auto {
  margin: auto;
}

.gap-20 {
  gap: 20px;
}

input,
textarea {
  font-size: 16px; /* Adjust font size to your preference */
}
